<!-- Teacher Player Metrics Template -->
<div class="teacher-metrics-container">
  <!-- Header with student name and back button -->
  <div class="metrics-header">
    <button mat-icon-button (click)="goBackToDashboard()" class="back-button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="student-title">Student Metrics: {{ player_name }}</h1>
  </div>

  <!-- Main content with metrics tabs -->
<div class="metrics-content">
    <mat-tab-group style="height: 90%;">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">person</mat-icon>
          User Metrics
        </ng-template>
        <ng-template matTabContent>
           <app-usermonitoring *ngIf="isUserReady"></app-usermonitoring>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">groups</mat-icon>
          Project Metrics
        </ng-template>
        <ng-template matTabContent>
          <app-projectmonitoring *ngIf="isProjectReady"></app-projectmonitoring>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
