.full-width-table {
  width: 100%;
}

.mat-column-position {
  width: 10px;
  text-align: center;
  font-weight: bold;
}

.mat-column-name {
  width: 300px;
  padding-right: 20px;
}

.player-info {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-name {
  font-size: 14px;
}

.player-name strong {
  font-weight: bold;
}

.nickname {
  font-weight: normal;
  color: #666;
}

.mat-column-points {
  flex: 1;
  min-width: 200px;
}

.full-width-table .mat-header-cell {
  font-weight: bold;
  color: #333;
}

.full-width-table .mat-cell {
  padding: 12px 8px;
}
